{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% block other_imports %}
{% endblock other_imports%}

{% block my_title %}Estudio 5-8: iniciar de sesión{% endblock my_title %}

{% block content %}

  <h1>Iniciar sesión con:</h1>

  <div class="login-box">
  <a href="javascript:hideshow(document.getElementById('login5-8'))"><img src="{% static 'images/Estudo 5-8_logo_color_solo_1x1.png' %}" /></a>
  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
    <br />
    <small><a class="button secondaryAction" href="{% url 'account_reset_password' %}">
      {% trans "Forgot Password?" %}</a></small> 
  </form>
  </div>
  
  <h2>O con:</h2>
  
  <div class="class="login-box"">
    <a href="{% provider_login_url "google" process='login' %}"><img src="{% static 'images/google-logo.png' %}" width="100px" height="100px" /></a>
  </div>
  
{% endblock content %}

{% block footer %}
   <div class="bckgrnd-color-0" id="site-footer">
{% endblock footer %}

{% block section_background %}
    <div id="site-background">
        <img src="{% static "images/background-3.jpg" %}" width="3872" height="2592" alt="Estudio 5-8">
    <div class="site-width" id="page-cont-fx"></div>
   </div>
{% endblock section_background %}