*.pyc
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
local_settings.py
*.gz
# Byte-compiled / optimized / DLL files
__pycache__/
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.jpg
*.png
*.gif
*.psd
*.svg
*.DS_Store
static/admin/*
static/images/*
static/django*