*.pyc
*.old
*.jpg
*.png
*.gif
*.psd
*.svg
file-uploads
/_5_8/settings/local_settings.py
*.xmind
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
personal_notes
notas_personales*
*py_cache*
*vagrant*
*Thumbs
.gitignore
*personal_notes
static/admin
static/css
static/django_extensions
static/uploads
static/images*
