<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Documento sin título</title>
</head>

<body>
<p>HEADER</p>
<ul>
  <li>Logo</li>
  <li>Menú de usuario
    <ul>
      <li>Iniciar sesión</li>
      <li>Registrarse</li>
    </ul>
  </li>
  <li>Menú principal (sus items se vuelven SECTIONS)
    <ul>
      <li>El estudio</li>
      <li>Proyectos</li>
      <li>Tutoriales</li>
      <li>Herramientas</li>
      <li>Contacto</li>
    </ul>
  </li>
</ul>
<p>SECTION</p>
<ul>
  <li>SECTION
    <ul>
      <li>HERRAMIENTAS (Un item de menú principal)</li>
      <li>Categorías de herramientas (SECTION)
        <ul>
          <li>Acabados</li>
          <li>Afilado</li>
          <li>Alisado</li>
          <li>Atornillado</li>
          <li>Aseo</li>
          <li>Corte</li>
          <li>Labrado</li>
          <li>Perforación</li>
          <li>Sujeción</li>
          <li>Golpeo</li>
          <li>Seguridad</li>
          <li>Marcación y medición</li>
        </ul>
      </li>
      <li>Colecciones (SECTION)</li>
    </ul>
  </li>
</ul>
<p>5-8 Estudio Footer</p>
</body>
</html>
