<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Documento sin título</title>
<link href="5-8-styles.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="header-cont">
  <div id="site-header">
    <div id="logo">
      <header>
        <h1>5-8 Estudio</h1>
      </header>
    </div>
    <div id="user-menu">
      <section>
        <ul>
          <li>Iniciar sesión</li>
          <li>Registrarse</li>
        </ul>
      </section>
    </div>
    <div id="site-nav">
      <nav>
        <ul>
          <li>El estudio</li>
          <li>Proyectos</li>
          <li>Tutoriales</li>
          <li>Herramientas</li>
          <li>Contacto  </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<div class="site-width" id="site-content">
  <article>
    <div id="page-header">
      <header>
        <h1>Herramientas</h1>
        <ul>
          <li>Categorías</li>
          <li>Colecciones</li>
        </ul>
      </header>
    </div>
    <section>
      <h2>Categorías de herramientas
    </h2>
  <!--Categorías de herramientas usando description list   
  <dl>
    <dt>Acabados</dt>
    <dd>Quisque eget eros nec tortor pellentesque suscipit a eget nunc.</dd>
    <dt>Afilado</dt>
    <dd>Donec sapien neque, vestibulum et nisl non, elementum tincidunt magna.</dd>
    <dt>Alisado</dt>
    <dd>Ut auctor justo orci, in bibendum ipsum luctus nec.</dd>
    <dt>Atornillado</dt>
    <dd>Nunc luctus suscipit velit id vestibulum.</dd>
    <dt>Aseo</dt>
    <dd>Donec euismod metus vel elit gravida scelerisque. Cras viverra est in urna placerat sagittis.</dd>
    <dt>Corte</dt>
    <dd>Etiam tempus est id nunc egestas facilisis.</dd>
    <dt>Labrado</dt>
    <dd>Mauris aliquet, nibh ac aliquet aliquam, nulla risus ornare massa, non sagittis nunc felis vel nulla.</dd>
    <dt>Perforación</dt>
    <dd>Proin imperdiet, orci in tincidunt tempor, metus arcu pharetra elit, at feugiat libero tortor et quam.</dd>
    <dt>Sujeción</dt>
    <dd>Curabitur sagittis gravida felis sit amet iaculis.</dd>
    <dt>Golpeo</dt>
    <dd>Nunc in elementum neque. Praesent euismod ullamcorper nunc ac consequat.</dd>
    <dt>Seguridad</dt>
    <dd>Donec pulvinar a lacus eu volutpat. Etiam vitae aliquet erat.</dd>
    <dt>Marcación y medición</dt>
    <dd>Morbi elementum ultricies quam sit amet tincidunt. In a tempus elit.</dd>
  </dl>
-->
  <ul>
    <li><article>
      <h3>Acabados</h3>
      <p>Quisque eget eros nec tortor pellentesque suscipit a eget nunc.</p>
    </article></li>
    <li><article>
      <h3>Afilado</h3>
      <p>Donec sapien neque, vestibulum et nisl non, elementum tincidunt magna.</p>
    </article>
    </li>
    <li><article>
      <h3>Alisado</h3>
      <p>Ut auctor justo orci, in bibendum ipsum luctus nec.</p>
    </article></li>
    <li>
      <article>
        <h3>Atornillado</h3>
        <p>Nunc luctus suscipit velit id vestibulum.</p>
      </article></li>
    <li>
      <article>
        <h3>Aseo</h3>
        <p>Donec euismod metus vel elit gravida scelerisque. Cras viverra est in urna placerat sagittis.</p>
      </article></li>
    <li>
      <article>
        <h3>Corte</h3>
        <p>Etiam tempus est id nunc egestas facilisis.</p>
      </article></li>
    <li>
      <article>
        <h3>Labrado</h3>
        <p>Mauris aliquet, nibh ac aliquet aliquam, nulla risus ornare massa, non sagittis nunc felis vel nulla.</p>
      </article></li>
    <li>
      <article>
        <h3>Perforación</h3>
        <p>Proin imperdiet, orci in tincidunt tempor, metus arcu pharetra elit, at feugiat libero tortor et quam.</p>
      </article></li>
    <li>
      <article>
        <h3>Sujeción</h3>
        <p>Curabitur sagittis gravida felis sit amet iaculis.</p>
      </article></li>
    <li><article>
      <h3>Golpeo</h3>
      <p>Nunc in elementum neque. Praesent euismod ullamcorper nunc ac consequat.</p>
    </article>
    </li>
    <li><article>
      <h3>Seguridad</h3>
      <p>Donec pulvinar a lacus eu volutpat. Etiam vitae aliquet erat.</p>
    </article>
    </li>
    <li><article>
      <h3>Marcación y medición</h3>
      <p>Morbi elementum ultricies quam sit amet tincidunt. In a tempus elit.</p>
    </article></li>
</ul>
    </section>
  </article>
</div>
<div id="site-footer">
  <footer>
  <p>5-8 Estudio Praesent convallis porttitor nisi, congue commodo justo pharetra vitae.</p>
  </footer>
</div>
<div id="site-background">
<img src="img/background-1.jpg" width="3872" height="2592" alt="Estudio 5-8"> </div>
</body>
</html>
