<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>5-8 Estudio</title>
<link href="5-8-styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
<h1>5-8 Estudio</h1>
<p>Usuario</p>
<ul>
  <li>Iniciar sesión</li>
  <li>Registrarse</li>
</ul>
<nav>
  <ul>
    <li>El estudio</li>
    <li>Proyectos</li>
    <li>Tutoriales</li>
    <li>Herramientas</li>
    <li>Contacto </li>
  </ul>
</nav>
</header>
<h2>Contenido</h2>
<p>Submenú</p>
<p>Contenido principal</p>
<h1>Título contenido principal</h1>
<p>Contenido principal contenido</p>
<footer>
  <p>5-8 ESTUDIO Praesent convallis porttitor nisi, congue commodo justo pharetra vitae.</p>
</footer>
<div id="background-banner">
  <p>IMAGEN DE FONDO</p>
</div>
</body>
</html>
