<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>5-8 Estudio</title>
<link href="5-8-styles.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="header-cont">
<div class="navigation font-1">
      <ul class="nav">
          <li class="logo"><a href="#"><img src="img/5-8-logo.png" width="120" height="56" alt="5-8 Estudio"></a>
          <li class="btn"><a href="#" class="btn-link">&#9776;</a>
              <ul class="menu">
                  <li><a href="#">El estudio</a></li>
                  <li><a href="#">Proyectos</a></li>
                  <li><a href="#">Tutoriales</a></li>
                  <li><a href="#">Herramientas</a></li>
                  <li><a href="#">Contacto</a></li>
              </ul>
          </li>
      </ul>
  </div>
</div>
<div class="site-width" id="site-content">
  <article>
    <div class="font-color-2 font-fx-1 pddng-ext clearfix" id="page-header">
      <header>
        <h1 class="font-color-2">Herramientas</h1>
        <nav>
        <ul>
          <li><a href="#" class="page-header-nav-item">Categorías</a></li>
          <li><a href="#" class="page-header-nav-item">Colecciones</a></li>
        </ul>
        </nav>
      </header>
    </div>
    <div class="bckgrnd-color-3" id="cont">
      <section>
        <div id="page-title" class="bckgrnd-color-1 font-color-2 pddng-ext">
          <h2 class="font-color-2">Categorías</h2>
        </div>
        <div>
        <img src="img/page-header-img-1.jpg" width="1024" height="214" class="width-100 height-prop">
        </div>
        <div id="page-cont" class="pddng-ext">
          <p>Phasellus id ex scelerisque, vestibulum lorem nec, laoreet arcu. Integer vel neque at nunc fermentum sollicitudin vitae a elit. Nullam eu aliquet odio. Proin sit amet dui massa. Nunc finibus metus sit amet fermentum ultricies. Proin placerat nisl ac maximus lacinia. Fusce efficitur consectetur ex vitae iaculis. Etiam tristique convallis urna in interdum. In auctor elementum malesuada.</p>
          <ul class="cont-col-2-max">
            <li><article>
              <h3><a href="#"><img src="img/img-tools-02.png" width="240" height="240" class="img-fx-2">Acabados <small>(8)</small></a></h3>
              <p class="clearfix">Quisque eget eros nec tortor pellentesque suscipit a eget nunc.</p>
            </article></li>
            <li><article>
              <h3><a href="#"><img src="img/img-tools-02.png" width="240" height="240" class="img-fx-2">Afilado <small>(8)</small></a></h3>
              <p class="clearfix">Donec sapien neque, vestibulum et nisl non, elementum tincidunt magna.</p>
              </article>
            </li>
            <li><article>
              <h3><a href="#"><img src="img/img-tools-02.png" width="240" height="240" class="img-fx-2">Alisado <small>(8)</small></a></h3>
              <p class="clearfix">Ut congue rhoncus enim sed fringilla. Ut nec imperdiet felis, eu ornare lorem.</p>
            </article></li>
            <li>
              <article>
                <h3><a href="#"><img src="img/img-tools-02.png" width="240" height="240" class="img-fx-2">Atornillado <small>(8)</small></a></h3>
                <p class="clearfix">Phasellus consequat, tellus nec porta rhoncus, purus dolor molestie justo.</p>
            </article></li>
            <li>
              <article>
                <h3><a href="#"><img src="img/img-tools-02.png" width="240" height="240" class="img-fx-2">Aseo <small>(8)</small></a></h3>
                <p class="clearfix">Donec euismod metus vel elit gravida scelerisque.</p>
            </article></li>
            <li>
              <article>
                <h3><a href="#"><img src="img/img-tools-02.png" width="240" height="240" class="img-fx-2">Corte <small>(8)</small></a></h3>
                <p class="clearfix">Donec a neque ut odio scelerisque feugiat ac et dolor. Nulla facilisi.</p>
            </article></li>
            <li>
              <article>
                <h3><a href="#"><img src="img/img-tools-02.png" width="240" height="240" class="img-fx-2">Labrado <small>(8)</small></a></h3>
                <p class="clearfix">Donec aliquam, massa id porta auctor, augue dui convallis ex.</p>
            </article></li>
            <li>
              <article>
                <h3><a href="#"><img src="img/img-tools-02.png" width="240" height="240" class="img-fx-2">Perforación <small>(8)</small></a></h3>
                <p class="clearfix">Proin imperdiet, orci in tincidunt tempor, metus arcu pharetra elit, at feugiat libero tortor et quam.</p>
            </article></li>
            <li>
              <article>
                <h3><a href="#"><img src="img/img-tools-02.png" width="240" height="240" class="img-fx-2">Sujeción <small>(8)</small></a></h3>
                <p class="clearfix">Sed dui nisl, ullamcorper vitae ante a, sagittis dapibus urna.</p>
            </article></li>
            <li><article>
              <h3><a href="#"><img src="img/img-tools-02.png" width="240" height="240" class="img-fx-2">Golpeo <small>(8)</small></a></h3>
              <p class="clearfix">Nunc in elementum neque. Praesent euismod ullamcorper nunc ac consequat.</p>
              </article>
            </li>
            <li><article>
              <h3><a href="#"><img src="img/img-tools-02.png" width="240" height="240" class="img-fx-2">Seguridad <small>(8)</small></a></h3>
              <p class="clearfix">Donec pulvinar a lacus eu volutpat. Etiam vitae aliquet erat.</p>
              </article>
            </li>
            <li><article>
              <h3><a href="#"><img src="img/img-tools-02.png" width="240" height="240" class="img-fx-2">Marcación y medición <small>(8)</small></a></h3>
              <p class="clearfix">Morbi elementum ultricies quam sit amet tincidunt. In a tempus elit.</p>
            </article></li>
          </ul>
        </div>
      </section>
    </div>
  </article>
</div>
<div class="bckgrnd-color-1" id="site-footer">
  <div class="site-width pddng-ext">
    <footer>
      <p class="font-color-2"><span class="font-color-4"><strong>5-8 Estudio</strong></span> Praesent convallis porttitor nisi, congue commodo justo pharetra vitae.</p>
    </footer>
  </div>
</div>
<div id="site-background">
<img src="img/background-1.jpg" width="3872" height="2592" alt="Estudio 5-8">
<div class="site-width" id="page-cont-fx">
</div>
</div>

</body>
</html>
