/*Base stylesheet for the 5-8 sites.*/
/*Import fonts from Google Fonts*/
@import url(http://fonts.googleapis.com/css?family=Tangerine:400,700|Belleza|Lusitana:400,700);
@import url(http://fonts.googleapis.com/css?family=Neuton:400,200,300,400italic,700,800|Crimson+Text:400,400italic,600,600italic,700,700italic|Quattrocento:400,700);
* {
    margin:0;
    padding:0;
}
html, body {
    height: 100%;
}
body {
    background: rgb(239,132,15);
    font-family: 'Lusitana', serif;
    font-size: 16px;
}
#header {
    background-color: #fff;
    width: 100%;
    /*min-width: 850px;*/
    min-height: 75px;
    border-bottom: 4px solid #000000;
}
#header img {
    width: 150px;
    height: 75px;
    display: inline-block;
    margin-right: 50px;
    margin-left: 20px;
}
#main_nav {
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
}
#main_nav ul {
    background-color: #fff;
    position: relative;
    top: -10px;
}
#main_nav li {
    margin: 0 2em 0 2em;
    font-family: 'Crimson Text', serif;
    font-weight: bold;
    font-size: 1.3em;
    line-height: 0.9em; 
    display: inline-block;
    list-style: none;
}
#main_nav a {
    text-decoration: none;
    color: #000;
    /*border-bottom: 3px solid #000;*/
}
#main_nav a:hover {
    color: rgb(239,132,15);
    /*border-bottom: 3px solid rgb(239,132,15);*/
    /*background-color: #3B2FBD;*/
}
#content_wrapper {
    padding: 15px;
    position: relative;
    /*border: 1px solid yellow;
    background-image: url('../../images/colasdemilano.jpg');
    background-size: 100% 100%;
    background-repeat: repeat;*/
}
#content {
    background-color: rgba(255,255,255, 0.8);
    padding: 10px;
    /*border: 1px solid red;*/
    min-width: 380px;
}
