h1, h2, h3, h4 {
    color: #fff;
    padding: 0;
    margin: 0;
}
p {
    color: rgb(239, 132, 15);
}
#content {
    text-align: center;
}
#content_wrappper {
    height: 100%;
}
.highlight_container_large {
    background: #000;
    height: 350px;
    min-width: 360px;
    max-width: 800px;
    padding: 10px;
    display: block;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
.highlight_container_large_image {
    background: #fff;
    width:75%;
    height: 65%;
    display: inline-block;
    overflow: hidden;
}
.highlight_container_large_image img {
    width:100%;
    height: auto;
}
.highlight_container_large h1 {
    max-height: 1.3em;
    overflow: hidden;
}
.highlight_container_large p {
    overflow: scroll;
    padding-bottom: 10px;
    max-height: 4em;
}
.highlight_container_small {
    font-size: 0.7em;
    width: 23%;
    height: 350px;
    float: right;
    background: #000;
/*    border: 1px solid #F900FF;*/
    overflow: hidden;
}
.highlight_container_small_inner {
    width: 100%;
    height: 30%;
    background-color: #fff;
    /*border: 1px red solid;*/
    margin-bottom: 10px;
}
.highlight_container_small_inner_image {
    overflow: hidden;
    width: 100%;
    height: 80%;
}
.highlight_container_small_inner img {
    width: 100%;
    height: auto;
}
.highlight_container_small_inner h1 {
    font-size: 1.2em;
    color: #000000;
    text-align: center;
    height: 1em;
    margin-top: .2em;
    overflow: hidden;
}
.section_intro {
    margin: 10px;
    padding: 10px;
    background: #000;
    border: solid 2px black;
    width: 375px;
    height: 375px;
    display: inline-block;
    overflow: hidden;
}
.section_intro h1{
    font-size: 1.5em;
    text-align: center;
    height: 1.1em;
    overflow: hidden;
    margin: 0 0.3em 0.3em 0.3em;
}
.section_intro a {
    color: #FFF;
    text-decoration: none;
}
.section_intro a:hover {
    color: rgb(239, 132, 15);
}
.section_intro_image {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.section_intro_image img{
    width: 100%;
    height: auto;
    max-height: 80%;
}
.section_intro p {
    font-size: 0.8em;
    text-align: left;
    max-height: 4em;
    overflow: hidden;
}
