{% extends "base-1.html" %}
{% load static staticfiles %}
{% load random_background_image %}

{% block other_imports %}
  <style>
  .home-slider {
	clear: right;
  }
	
  </style>
{% endblock other_imports %}

{% block other_meta_tags %}
<!--    #FACEBOOK LIKE/SHARE BUTTON CONFITURATION: https://developers.facebook.com/docs/plugins/like-button-->
    <meta property="og:url"           content="{{ request.build_absolute_uri |urlencode:":/" }}" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="Estudio 5-8" />
	<meta property="og:description"   content="El taller que empieza cuando el trabajo de 8-5 termina." />
	<meta property="og:image"         content="{% static "images/5-8-logo.png" %}" />
    
    <script src="https://apis.google.com/js/platform.js" async defer>
      {lang: 'es-419'}
    </script>
{% endblock other_meta_tags%}

{% block page_background %}
<div id="home-background">
<!--<img src="img/background-1.jpg" width="3872" height="2592" alt="Estudio 5-8"> -->
</div>
{% endblock page_background %}


{% block page_content %}

<div class="site-width" id="site-content">
<div id="home-content">

	{% for destacado in videos_destacados %}
	<div class="home-destacado bckgrnd-color-1">
	  <a href="{{ destacado.get_absolute_url }}">
      <img src="{% static '' %}{{ destacado.imagen_destacada }}" width="320" height="106" alt="{{ destacado.nombre }}">
      <h3>{{ destacado.nombre }}</h3>
	  </a>
      <p class="font-size-sub1"><span class="bckgrnd-color-7 font-color-1 tag-1-home"><a href="/roubo/VID">{{ destacado.get_tipo_display }}</a></span> {{ destacado.fecha_creacion |date:"j F, Y"}}</p>
      <p>{{ destacado.cuerpo |truncatechars:200 |striptags }}</p>
  	</div>
	{% endfor %}
	
		
	{% for destacado in cuadernos_destacados %}
    <div class="home-destacado bckgrnd-color-2">
      <a href="{{ destacado.get_absolute_url }}">
	  <img src="{% static '' %}{{ destacado.imagen_destacada }}" width="320" height="106" alt="{{ destacado.nombre }}">
      <h3>{{ destacado.nombre }}</h3>
	  </a>
      <p class="font-size-sub1"><span class="bckgrnd-color-7 font-color-1 tag-1-home"><a href="/roubo/cuaderno">{{ destacado.get_tipo_display }}</a></span> {{ destacado.fecha_creacion |date:"j F, Y"}}</p>
      <p>{{ destacado.cuerpo |truncatechars:200 |striptags }}</p>
  	</div>
	{% endfor %}
	
	{% for destacado in herramientas_destacadas %}
    <div class="home-destacado bckgrnd-color-3">
      <a href="{{ destacado.get_absolute_url }}">
		<img src="{% static '' %}{{ destacado.imagen.imagen }}{{ destacado.imagenes.all.0.imagen }}" width="320" height="106" alt="{{ destacado.nombre }}">
	  <h3>{{ destacado.nombre }}</h3></a>
      <p class="font-size-sub1"><span class="bckgrnd-color-7 font-color-1 tag-1-home"><a href="/studley/">
	  {% if destacado.herramientas_recomendadas %} Colección
		  {% else %} Herramienta</a>
		  {% endif %}</span> {{ destacado.fecha_creacion |date:"j F, Y"}}
	  </p>
	  <p>{{destacado.descripcion |truncatechars:200 |striptags }}</p>
  	</div>
  {% endfor %}
	
	
	{% for destacado in galerias_destacadas %}
    <div class="home-destacado bckgrnd-color-4">
      <a href="{{ destacado.get_absolute_url }}">
	  <img src="{% static '' %}{{ destacado.imagen_destacada }}" width="320" height="106" alt="{{ destacado.nombre }}">
      <h3>{{ destacado.nombre }}</h3>
	  </a>
      <p class="font-size-sub1"><span class="bckgrnd-color-7 font-color-1 tag-1-home"><a href="/roubo/GLR">{{ destacado.get_tipo_display }}</a></span> {{ destacado.fecha_creacion |date:"j F, Y"}}</p>
      <p>{{ destacado.cuerpo |truncatechars:200 |striptags }}</p>
  	</div>
	{% endfor %}
</div>
<div class = "home-slider font-color-3">
  {% random_image as bg_image %}
  <script>
	var bg_image_url = "{% static ''%}";
	bg_image_url += "{{ bg_image.imagen }}";
	console.log(bg_image_url)
	bg_div = document.getElementById("home-background");
	bg_div.style.backgroundImage = "url("+bg_image_url+")";
  </script>
    <p><i>{{ bg_image.nombre }}</i></p>
    <p><i>{{ bg_image.autor }}</i><p>
	<p><i>{{ bg_image.licencia }}</i><p>
</div>
</div>


<!--REDES SOCIALES-->
<br/>
<br/>
<br/>
<div class="like-me">
  <!--G+1 BUTTON-->
  <div class="g-plusone display-inline" data-size="medium" data-annotation="none"></div>
        
  <!--TWITTER-->
  <div><a href="https://twitter.com/share" class="twitter-share-button"{count} data-text="Conozca Estudio 5-8, el taller que empieza cuando el trabajo de 8-5 terrmina." data-lang="es" data-hashtags="carpintería, 5-8">Twittear</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></div>
        
  <!--FACEBOOK LIKE BUTTON-->
  <div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
	  fjs.parentNode.insertBefore(js, fjs);
	  }(document, 'script', 'facebook-jssdk'));
	</script>
	<div class="fb-like" data-href="{{ request.build_absolute_uri |urlencode:":/" }}" data-width="200" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
  <!--END FACEBOOK LIKE-->
</div>
	
{% endblock page_content %}