{% extends "base.html" %}

{% block my_title %}Herramientas{% endblock my_title%}


{% block content %}

<h1>Herramientas de carpintería</h1>
<table>
    <tr>
        <th><h2>Clase</h2></th>
        <th><h2>Tipo</h2></th>
        <th><h2>Nombre</h2></th>
        <th><h2>Nombre corto</h2></th>
        <th><h2>Imágenes</h2></th>
        <th><h2>Detalle</h2></th>
    </tr>
    {% for herramienta in herramientas %}
    <tr>
        <th><a href="{{ herramienta.clase.get_absolute_url }}">{{ herramienta.clase }}</a></th>
        <th><a href="">{{ herramienta.tipo }}</a></th>
        <td><a href="{{ herramienta.get_absolute_url }}">{{ herramienta.nombre }}</a></td>
        <td>{{ herramienta.nombre_corto }}</td>
        <td>
            {% for imagen in herramienta.imagenes.all %}
            <img src = "{{ MEDIA_URL }}{{ imagen.imagen }}" width="150px" height="auto"/>
            {% endfor %}
        </td>
        <td>{{ herramienta.detalle }}</td>
    {% endfor %}
    </tr>
</table>

{% endblock %}
