{% extends "studley_base.html" %}
{% load static %}
{% block other_imports %}{% endblock%}

{% block other_meta_tags %}
  <!-- Google +1 -->
    <script src="https://apis.google.com/js/platform.js" async defer>
      {lang: 'es-419'}
    </script
  <!--#FACEBOOK LIKE/SHARE BUTTON CONFITURATION: https://developers.facebook.com/docs/plugins/like-button-->
    <meta property="og:url"           content="https://{{ request.build_absolute_uri |urlencode:":/" }}" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="{{ coleccion.nombre }} en Estudio 5-8" />
	<meta property="og:description"   content="{{ coleccion.descripcion |striptags |truncatechars:200 }}" />
	<meta property="og:image"         content="https://{{ request.META.HTTP_HOST }}{{ MEDIA_URL }}{{ coleccion.imagenes.all.0.imagen }}" />
{% endblock other_meta_tags%}

{% block my_title %}{{ coleccion.nombre }} en Estudio 5-8{% endblock my_title %}

{% block content_studley %}
  <div class="bckgrnd-color-3" id="cont">
    
    <div id="page-title" class="bckgrnd-color-1 font-color-2 pddng-ext">
      <h2>{{ coleccion.nombre }}</h2>
      <p>Creada por: <a href="{{ coleccion.url_creador }}">{{ coleccion.creador }}</a></p>
    </div>
    
    <div class="header-clase">
      <img src="{{ MEDIA_URL }}{{ coleccion.imagenes.all.0.imagen }}" width="1024" class="width-100" >
    </div>
        
    <div id="page-cont" class="pddng-ext font-color-1">
      <p>{{ coleccion.descripcion |safe }}</p>    
    
      <div class="like-me">
        
        <!--G+1 BUTTON-->
        <div class="g-plusone display-inline" data-size="medium" data-annotation="none"></div>
  
        <!--FACEBOOK LIKE BUTTON-->
        <div id="fb-root"></div>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
            </script>
            <div class="fb-like" data-href="{{ request.build_absolute_uri |urlencode:":/" }}" data-width="200" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
        <!--END FACEBOOK LIKE-->
        
        </div>
      
      <div class="font-size-sub1-1">
        <h2 class="margin-fx">Herramientas de la colección</h2>
        {% for clase, dict_herramientas in clases.items %}
        <h3 class="margin-fx"><a class="font-color-3" href="{{ clase.get_absolute_url }}">{{ clase.nombre }}</a></h3>
        <ul class="cont-col-3-max">
          {% for herramienta, recomendadas in dict_herramientas.items %}
            <li class="margin-fx"><article>
              <h4><a class="font-color-3" href=""><img src="{{ MEDIA_URL }}{{ herramienta.imagenes.all.0.imagen }}" width="100" height="100" class="img-fx-5" alt="">{{ herramienta.nombre }}</a></h4>
            {% if recomendadas|length > 0 %}
              <p class="margin-fx">Versiones recomendadas:</p>
              <p class="margin-fx">| {% for recomendada in recomendadas %}
                <a class="font-color-3" href="{{ recomendada.get_absolute_url }}">{{ recomendada.herramienta_base.nombre }} {{ recomendada.marca.nombre }} </a> | 
              {% endfor %}
              </p>
            {% endif %}
            </article></li>
          {% endfor %}
          </ul>
        {% endfor %}
      </div>
      </div>
    </div>

{% endblock content_studley %}