{% extends "studley_base.html" %}
{% load static %}
{% block other_imports %}{% endblock%}

{% block other_meta_tags %}
<!--    #FACEBOOK LIKE/SHARE BUTTON CONFITURATION: https://developers.facebook.com/docs/plugins/like-button-->
    <meta property="og:url"           content="https://{{ request.META.HTTP_HOST }}{{ herramienta.get_absolute_url }}" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="{{ herramienta.herramienta_base.nombre }} {{ herramienta.marca }} en Estudio 5-8" />
	<meta property="og:description"   content="Herramientas de {{ herramienta.detalle |lower |striptags |truncatechars:200 }}" />
	<meta property="og:image"         content="https://{{ request.META.HTTP_HOST }}{{ MEDIA_URL }}{{ herramienta.imagenes.all.0.imagen }}" />    
    <!-- Google +1 -->
    <script src="https://apis.google.com/js/platform.js" async defer>
      {lang: 'es-419'}
    </script
{% endblock other_meta_tags%}

{% block my_title %}{{ herramienta.herramienta_base.nombre }} {{ herramienta.marca }} en Estudio 5-8{% endblock my_title %}

{% block content_studley %}
<div class="bckgrnd-color-3" id="cont">
    <div id="page-title" class="bckgrnd-color-1 pddng-ext">
      <h2 class="font-color-2">{{ herramienta.herramienta_base.nombre }} {{ herramienta.marca }} </h2>
      <p class="font-color-2"><a href="{{ herramienta.modelo }}">{{ herramienta.modelo }}</a></p>
    </div>
        
  <div id="page-cont" class="pddng-ext">
    <h2 class="font-fx-2 font-color-1">{{ herramienta.nombre }}</h2>
    <div class="clearfix">
      {% for imagen in herramienta.imagenes.all %}
        <img src="{{ MEDIA_URL }}{{ imagen.imagen }}" width="350" height="350" class="img-fx-2" alt="Imagen: {{ imagen.nombre }}" />
      {% endfor %}
    </div>
    
    {% if otras_versiones|length > 0 %}
    <div class="relacionadas-marcas font-color-1">
      <small>
        <h4 class="font-color-2">Más como <i>{{ herramienta.herramienta_base.nombre |lower }}</i></h4>
        <ul>
          {% for version in otras_versiones %}
          <li><article>
            <a href="{{ version.get_absolute_url }}"><img src="{{ MEDIA_URL }}{{ version.imagenes.all.0.imagen }}" class="img-fx-3" alt=""> {{ version.marca }}, {{ version.modelo }}</a>
          </article></li>
          {% endfor %}
        </ul>
      </small>
    </div>
  {% endif %}
    </br>      
    <div class="font-color-1">
      <p>{{ herramienta.detalle |safe }}</p>
    </div>
    
<div class="like-me">
        
        <!--G+1 BUTTON-->
        <div class="g-plusone display-inline" data-size="medium" data-annotation="none"></div>
  
        <!--FACEBOOK LIKE BUTTON-->
        <div id="fb-root"></div>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
            </script>
            <div class="fb-like" data-href="https://{{ request.META.HTTP_HOST }}{{ herramienta.get_absolute_url }}" data-width="200" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
        <!--END FACEBOOK LIKE-->
        
        </div>
    
  </div>
</div>
<br />


{% endblock content_studley %}
