{% extends "studley_base.html" %}
{% load static %}
{% block other_imports %}
   <!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/index_styles.css/" %}">-->
{% endblock%}
{% block content_studley %}
    <div class="bckgrnd-color-3" id="cont">
        <div id="page-title" class="bckgrnd-color-1 font-color-2 pddng-ext">
          <h2>Categorías</h2>
        </div>
        <div>
        <img src="{% static "images/page-header-img-1.jpg" %}" width="1024" height="214" class="width-100 height-prop">
        </div>
        <div id="page-cont" class="pddng-ext font-color-1">
          <p class = "font-fx-4">En esta sección encontrará información detallada sobre las herramientas del taller, desde las del más pequeño, manual y casero, hasta aquellas de uno más profesional. Utilice las <a href="/studley/herramientas/"><strong>categorías</strong></a> para navegar por este <i>baúl de herramientas</i> y aprender cómo usarlas y cuidarlas o explore las <a href="/studley/colecciones/"><strong>colecciones</strong></a> recomendadas para diversos usos, necesidades, preferencias y presupuestos.</i>.</p>
          <ul class="cont-col-2-max">
            
            {% for clase in clases_herramientas|dictsort:"nombre" %}
                  <li><article>
                        <h3><a class="font-color-3" href="{{ clase.get_absolute_url }}"><img src="{{ MEDIA_URL }}{{ clase.imagen.imagen }}" width="240" height="240" class="img-fx-1">
                        <!--{{ MEDIA_URL }}{{ clase.imagen.imagen }}-->
                        {{ clase.get_nombre_display }}<!--<small> ({{ 0 }})</small>--></a></h3>
                        <p class="clearfix font-color-1">{{ clase.descripcion |striptags |safe |truncatechars:130 }}</p>
                  </article></li>
            {% endfor %}
          </ul>
        </div>
    </div>

{% endblock content_studley %}