{% extends "studley_base.html" %}
{% load static %}
{% block other_imports %}
   <!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/index_styles.css/" %}">-->
{% endblock%}
{% block content_studley %}
    <div class="bckgrnd-color-3" id="cont">
      <section>
        <div id="page-title" class="bckgrnd-color-1 pddng-ext">
          <h2 class="font-color-2"><a href="{{ herramienta.clase.get_absolute_url }}">{{ herramienta.clase.nombre }}</a></h2>
        <p class="font-color-2"><a href="{{ herramienta.tipo.get_absolute_url }}">{{ herramienta.tipo.nombre }}</a></p>
        </div>
        <!--IMAGEN DEL HEADER (DEMASIADO CON LAS DE ABAJO)
        <div class="header-clase">
        <img src="{{ MEDIA_URL }}{{ herramienta.imagenes.all.0.imagen }}" width="1024" height="214" class="width-100">
        </div>-->
        <div id="page-cont" class="pddng-ext">
          <h2 class="font-fx-2 font-color-1">{{ herramienta.nombre }}</h2>
          <footer>
            <!--INFORMACIÓN DEL AUTOR
            <p><img src="img/retrato.jpg" width="240" height="240" class="img-fx-1"></p>-->
           <!-- <p>por: <a href="#"><strong>El Profe</strong></a></p>
            <small>--algún dato sobre el autor--</small>-->
</footer>
          <div class="clearfix">
            {% for imagen in herramienta.imagenes.all %}
              <img src="{{ MEDIA_URL }}{{ imagen.imagen }}" width="350" height="350" class="img-fx-2" alt="Imagen: {{ imagen.nombre }}" />
            {% endfor %}
          </div>
        <div class="relacionadas-marcas font-color-1">
            <small>
            <h4 class="font-color-2">Versiones de <i>{{ herramienta.nombre |lower }}</i></h4>
              <ul>
                {% for version in misma_base %}
                <li><article>
                          <a href="{{ version.get_absolute_url }}"><img src="{{ MEDIA_URL }}{{ version.imagenes.all.0.imagen }}" class="img-fx-3" alt="">{{ version.modelo }} {{ version.marca.nombre }}</a>
                    </article></li>
                {% endfor %}
              </ul>
              </small>
        </div>
          <div class="clearfix font-color-1">
            <p>{{ herramienta.descripcion |safe }}</p>
            
            <!--<h3>Etiquetas</h3>
            <ul>
              <li class="tag bckgrnd-color-4 font-color-2">Todas</li>
              <li class="tag bckgrnd-color-4 font-color-2">Acabado largo</li>
              <li class="tag bckgrnd-color-4 font-color-2">Otro acabado</li>
              <li class="tag bckgrnd-color-4 font-color-2">Llenando espacio</li>
              <li class="tag bckgrnd-color-4 font-color-2">Opaco</li>
              <li class="tag bckgrnd-color-4 font-color-2">Lijado</li>
            </ul>-->
            
            <!--<h3>Herramientas similares</h3>-->
            <div class="relacionadas-tipo">
              <h3>Otros <i>{{ herramienta.tipo.nombre_plural |lower }}</i></h3>
                <ul>
                  {% for primo in mismo_tipo %}              
                  <li><article>
                            <h4><a class="font-color-3" href="{{ primo.get_absolute_url }}"><img src="{{ MEDIA_URL }}{{ primo.imagenes.all.0.imagen }}" class="img-fx-3">{{ primo.nombre }}</a></h4>
                            <small class="tag"><a href="">{{ herramienta.tipo.nombre }}</a></small>
                      </article></li>
                  {% endfor %}
                </ul>
            </div>
            
          </div>
        </div>
      </section>
    </div>
  </article>
</div>

<!--<div id="site-background">
<img src="img/background-1.jpg" width="3872" height="2592" alt="Estudio 5-8">
<div class="site-width" id="page-cont-fx">
</div>
</div>-->

{% endblock content_studley %}
