{% extends "studley_base.html" %}
{% load static %}
{% block other_imports %}
   <!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/index_styles.css/" %}">-->
{% endblock%}

{% block other_meta_tags %}
<!--    #FACEBOOK LIKE/SHARE BUTTON CONFITURATION: https://developers.facebook.com/docs/plugins/like-button-->
    <meta property="og:url"           content="https://{{ request.META.HTTP_HOST }}{{ tipo.get_absolute_url }}" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="{{ tipo.nombre_plural }} en Estudio 5-8" />
	<meta property="og:description"   content="{{ tipo.descripcion |striptags |truncatechars:200 }}" />
	<meta property="og:image"         content="https://{{ request.META.HTTP_HOST }}{{ MEDIA_URL }}{{ tipo.imagen.imagen }}" />    
    <!-- Google +1 -->
    <script src="https://apis.google.com/js/platform.js" async defer>
      {lang: 'es-419'}
    </script
{% endblock other_meta_tags%}

{% block content_studley %}
  
<div class="bckgrnd-color-3" id="cont">
      <section>
        <div id="page-title" class="bckgrnd-color-1 font-color-2 pddng-ext">
          <h2>{{ tipo.nombre }}</h2>
        </div>
        <div class="header-clase">
      <img src="{{ MEDIA_URL }}{{ tipo.imagen.imagen }}" width="1024" class="width-100" >
        <!--<img src="{% static "images/page-header-img-1.jpg" %}" width="1024" height="214" class="width-100 height-prop">-->
        </div>
        <div id="page-cont" class="pddng-ext font-color-1">
          <p>{{ tipo.descripcion |safe }}</p>    
            <div class="like-me">
            <script src="https://apis.google.com/js/platform.js" async defer></script>
  <g:plusone></g:plusone>
            </div>
            {% if herramientas|length > 0 %}
            <h3>{{ tipo.nombre_plural|capfirst }}</h3>
                  <ul class="cont-col-2-max">
                  {% for herramienta in herramientas %}
                        <li><article>
                              <h3><a class="font-color-3" href="{{ herramienta.get_absolute_url }}"><img src="{{ MEDIA_URL }}{{ herramienta.imagenes.all.0.imagen }}" width="240" height="240" class="img-fx-1">{{ herramienta.nombre }}</a></h3>
                              <p class="clearfix">{{ herramienta.descripcion |striptags |safe |truncatechars:130 }}</p>
                        </article></li>
                        
                  {% endfor %}
                  </ul>
            {% endif %}
        
            <div class="like-me">
        
        <!--G+1 BUTTON-->
        <div class="g-plusone display-inline" data-size="medium" data-annotation="none"></div>
  
        <!--FACEBOOK LIKE BUTTON-->
        <div id="fb-root"></div>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
            </script>
            <div class="fb-like" data-href="https://{{ request.META.HTTP_HOST }}{{ tipo.get_absolute_url }}" data-width="200" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
        <!--END FACEBOOK LIKE-->
        
        </div>
        
        </div>
        
        </div>
      </section>
    </div>

{% endblock content_studley %}