<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>5-8 Estudio</title>
<link href="5-8-styles.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="header-cont">
<div class="navigation font-1">
      <ul class="nav">
          <li class="logo"><a href="#"><img src="img/5-8-logo.png" width="120" height="56" alt="5-8 Estudio"></a>
          <li class="btn"><a href="#" class="btn-link">&#9776;</a>
              <ul class="menu">
                  <li><a href="#">El estudio</a></li>
                  <li><a href="#">Proyectos</a></li>
                  <li><a href="#">Tutoriales</a></li>
                  <li><a href="#">Herramientas</a></li>
                  <li><a href="#">Contacto</a></li>
              </ul>
          </li>
      </ul>
  </div>
</div>
<div class="site-width" id="site-content">
  <article>
    <div class="font-color-2 font-fx-1 pddng-ext clearfix" id="page-header">
      <header>
        <h1 class="font-color-2">Herramientas</h1>
        <nav>
        <ul>
          <li><a href="#" class="page-header-nav-item">Categorías</a></li>
          <li><a href="#" class="page-header-nav-item">Colecciones</a></li>
        </ul>
        </nav>
      </header>
    </div>
    <div class="bckgrnd-color-3" id="cont">
      <section>
        <div id="page-title" class="bckgrnd-color-1 font-color-2 pddng-ext">
          <h2 class="font-color-2">Acabados</h2>
          <div>Menú de categorías</div>
        </div>
        <div>
        <img src="img/page-header-img-1.jpg" width="1024" height="214" class="width-100 height-prop">
        </div>
        <div id="page-cont" class="pddng-ext">
          <h2 class="font-fx-2">El nombre de nuestra herramienta</h2>
          <footer>
            <p><img src="img/retrato.jpg" width="240" height="240" class="img-fx-1"></p>
            <p>por: <a href="#"><strong>El Profe</strong></a></p>
            <small>22/10/2015</small>
</footer>
          <div>
            <p>IMÁGENES</p>
          </div>
          <div class="clearfix">
            <p>Phasellus id ex scelerisque, vestibulum lorem nec, laoreet arcu. Integer vel neque at nunc fermentum sollicitudin vitae a elit. Nullam eu aliquet odio. Proin sit amet dui massa. Nunc finibus metus sit amet fermentum ultricies. Proin placerat nisl ac maximus lacinia. Fusce efficitur consectetur ex vitae iaculis. Etiam tristique convallis urna in interdum. In auctor elementum malesuada.</p>
            <p>Suspendisse facilisis velit est, non vestibulum magna vehicula et. Donec  molestie arcu est, et pharetra augue eleifend et. Praesent vitae dictum  tellus, a lobortis sapien. Nulla facilisi. Suspendisse ullamcorper,  lacus et interdum maximus, magna leo tempor augue, ac rhoncus arcu ipsum  in purus. Praesent sit amet risus vel ex maximus placerat vitae quis  diam. Morbi in libero erat. Ut tempus in enim ut ultrices. Suspendisse  nec suscipit lorem. Nullam lacus quam, accumsan eget purus at, laoreet  lobortis libero. Aliquam quis erat nec sapien elementum lacinia.  Maecenas ut diam sem. Integer dapibus mi ac hendrerit mattis. Nulla at  finibus orci. Donec sagittis sodales venenatis. </p>
            <h3>Etiquetas</h3>
            <ul>
              <li class="tag bckgrnd-color-4 font-color-2">Todas</li>
              <li class="tag bckgrnd-color-4 font-color-2">Acabado largo</li>
              <li class="tag bckgrnd-color-4 font-color-2">Otro acabado</li>
              <li class="tag bckgrnd-color-4 font-color-2">Llenando espacio</li>
              <li class="tag bckgrnd-color-4 font-color-2">Opaco</li>
              <li class="tag bckgrnd-color-4 font-color-2">Lijado</li>
            </ul>
            <h3>Relacionados</h3>
            <ul>
              <li class="list-video">Item uno de lista</li>
              <li class="list-art">Item dos de lista</li>
              <li class="list-img">Item tres de lista</li>
              <li class="list-tool">Item cuatro de lista</li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </article>
</div>
<div class="bckgrnd-color-1" id="site-footer">
  <div class="site-width pddng-ext">
    <footer>
      <p class="font-color-2"><span class="font-color-4"><strong>5-8 Estudio</strong></span> Praesent convallis porttitor nisi, congue commodo justo pharetra vitae.</p>
    </footer>
  </div>
</div>
<div id="site-background">
<img src="img/background-1.jpg" width="3872" height="2592" alt="Estudio 5-8">
<div class="site-width" id="page-cont-fx">
</div>
</div>

</body>
</html>
