{% load static from staticfiles %}
/* Google Fonts */

@import url(http://fonts.googleapis.com/css?family=Bitter:400,700|Raleway:900,400,300);

/* RESET  */

* {
	margin: 0;
	padding: 0;
}

/* PANTALLAS MUY PEQUEÑAS: Menos de 768px de ancho */

/* COSAS GENERALES */

html {
	font-size: 100%;
}

body {
	height: 100%;
	position: relative;
	color: #3C1132;
	background-color: #DCD9BF;
	background-image: url({% static "bg-pttrn.png" %});
	padding: 5.16em 0 0 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	line-height: 1.44;
	font-size: 13px;
}

/* Tipografía */

.font-1 {
	font-family: 'Bitter', serif;
}

.font-2 {
	font-family: 'Raleway', sans-serif;
}

footer {
	font-style: italic;
}

#page-cont footer p {
	margin-bottom: 0em;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 900;
	line-height: 1;
	/*color: #3C1132;*/
}

h1 {
	font-size: 2.074em;
}

h2 {
	font-size: 1.728em;
}

h3 {
	font-size: 1.44em;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: 1em;
	font-weight: 300;
}

li {
	list-style-type: none;
}

strong, b {
	font-weight: 900;
}

small {
}

em, i {
	font-style: italic;
}

/* Enlaces */
a:link {
	color: #3C1132;
    /*color: #E82F0C;*/
	text-decoration: none;
}

a:visited {
    color: #4c1540;
}

a:hover {
    color: #000;
}

/* Márgenes generales elementos de bloque */

#page-cont address, #page-cont blockquote, #page-cont caption, #page-cont dd, #page-cont dl, #page-cont embed, #page-cont figure, #page-cont footer, #page-cont form, #page-cont h1, #page-cont h2, #page-cont h3, #page-cont h4, #page-cont h5, #page-cont h6, #page-cont li, #page-cont ol, #page-cont p, #page-cont #page-cont pre, #page-cont table, #page-cont tfoot, #page-cont ul, #page-cont video {
	margin: 0px 0px 1.44em 0;
}

#page-cont ul h1, #page-cont ul h2, #page-cont li h3, #page-cont ul h4, #page-cont ul h5, #page-cont ul h6 {
	margin-bottom: 0px;
}


#page-cont ul ul.lista-en-lista {
	margin: -1.3em 0 0 6em;
}

#page-cont ul ul li.lista-en-lista-li {
	margin: 0;
	font-size:0.9em;
}

#page-cont h4 {
	margin: 0 0 .7em 0;
	font-weight: bold;
}

#page-cont h2.margin-fx {
	margin: 0.2em 0 0.6em 0;
}

#page-cont h3.margin-fx {
	margin: 0.2em 0 0.6em 0;
}

#page-cont li.margin-fx {
	margin: 0 0 0.6em 0;
}

#page-cont p.margin-fx {
	margin: 0 0 0 2em;
}


/* ======= ID estructurales ======= */


/* Header colapsible */

.navigation {
    margin: auto;
    max-width: 100%;
	/*min-width: 800px;*/
    overflow: hidden;
    background-color: #fff;
	text-transform: uppercase;
	height: 4.9em;
}

.navigation ul {
	min-width: 800px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

.navigation .btn .menu {
    display: none;
}

.navigation .btn:hover .menu {
    display: block;
}

.navigation li a {
    display: block;
    padding: 25px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
	color: #3C1132;
	text-align: center;
}

.navigation li a:hover {
    background-color: #f4f4f4;
}

.navigation .logo {
    float: left;
}

.navigation .logo a {
    /*font-size: 2em;*/
    padding: 10px 20px;
}

.navigation .logo a img {
    width: auto;
	height: 3em;
}

.navigation .btn-link {
    float: right;
    padding: 18px 30px;
}

.navigation .menu {
    clear: both;
}

.navigation a p {
    margin: -0.5em 0 0 0;
}


/* Navegación responsive */
/*@media (min-width: 768px) {*/
/*    .navigation {*/
/*		height: auto;*/
/*	}*/
	.navigation li {
        float: left;
    }
    .navigation li a {
        padding: 25px 12px;
    }
    .navigation .btn .menu {
        display: block;
    }
    .navigation .btn-link {
        display: none;
    }
/*}*/

/* Fin del header colapsible */

#header-cont {
	width: 100%;
	background-color: #FFFFFF;
	clear: both;
	position: fixed;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
	left: 0px;
	top: 0px;
	border-top: solid 5px #E82F0C;
	z-index:100;
}

#site-header {
	display: block;
}

#user-menu {
	display: none;
}

#site-nav {	
}

#site-background {
	overflow: hidden;
	position: absolute;
	z-index: -2;
	max-height: 214px;
	width: 100%;
	left: 0px;
	top: 0px;
	border-bottom: solid #000 2px;
}

#site-background img {
	height: auto;
	width: 100%;
}

#site-background-home {
	overflow: hidden;
	position: fixed;
	z-index: -1;
	width: 100%;
	left: 0px;
	bottom: 0px;
}

#site-background-home img {
	height: auto;
	width: 100%;
	bottom: 0;
}

@media (min-width: 768px) {
	#site-background-home img {
	overflow: hidden;
	position: fixed;
	z-index: -1;
	width: 100%;
	left: 0px;
	bottom: 0px;
	}	
}

#site-content {
}

#content-home {
	background-image: url({% static '' %}images/{{ background }});
	background-position: top left;
	background-size: cover;
	background-repeat: repeat;
	/*height: 900px;*/
}

#content-home a:hover {
	color: rgb(220, 100, 0);
}

.destacado-home {
	width: 45em;
	height: 10em;
	background-color: rgba(0,0,0,.55);
	margin: 2em 2em 0 2em;
	padding: 1em 1em 1.6em 1em;
	overflow: hidden;
}

.destacado-home h2 {
	margin: 0 0 .2em 0;
}

.destacado-home p {
	font-size: 1.2em;
}

.herramientas-home {
	position: absolute;
	right: 0;
	width: 15em;
	background-color: rgba(0,0,0,.55);
	margin: 2em 4em 0 0;
	padding: 1em;
}

.herramientas-home h2 {
	padding: 0 0 .5em 0;
}

.herramientas-home li {
	font-size: 1.3em;
}
/* FORMS */

label {
	font-size: 1.2em;
	font-weight: bold;
	display: block;
	
}

input {
	line-height: 2em;
	margin: .5em;
}

.display-inline {
	display: inline-block;
}

/* FIN FORMS*/

#page-header {
	font-family: 'Bitter', serif;
	text-transform: uppercase;
	/*font-size: 0.833em;*/
}

#page-header.pddng-ext {
	padding:  1.44em 1.44em 0.482em 1.44em;
}

#cont {
}

#page-cont {
}

#page-cont-fx {
	-webkit-box-shadow: -6px 6px 0 0 #000000;
	box-shadow: -6px 6px 0 0 #000000;
	height: 360px;
	top: 141px;
	position: absolute;
	left: 8.75%;
}

#page-title {
	/*font-size: 0.833em;*/
	text-transform: uppercase;
}

/* Clases */
.bckgrnd-color-0 {
	background-color: /*#331123*/ #000;
}

.bckgrnd-color-1 {
	background-color: /*#331123*/ #3C1132;
}

.bckgrnd-color-2 {
	background-color: #FFF;
}

.bckgrnd-color-3 {
	background-color: #DCD9BF;
}

.bckgrnd-color-4 {
	background-color: #E82F0C;
}

.bckgrnd-color-5 {
	background-color: rgb(134, 39, 25);
}

.bckgrnd-color-6 {
	background-color: rgb(51, 72, 134);
}

.bckgrnd-color-7 {
	background-color: rgb(51, 149, 79);
}

.bckgrnd-color-8 {
	background-color: rgb(220, 100, 0);
}

.block-fx-1 {
}

.block-fx-2 {
}

.block-fx-3 {
}

.block-fx-4 {
}

.clearfix {
	overflow: auto;
}

.col-1 {
}

.col-2 {
	width: 50%;
}

.col-3 {
}

.col-4 {
}

.col-5 {
}

.col-6 {
}

.col-7 {
}

.col-8 {
}

.cont-col-1-max {
}

.cont-col-2-max {
	-moz-column-count: 1;
	-moz-column-gap: 32px;
	-webkit-column-count: 1;
	-webkit-column-gap: 32px;
	column-count: 1;
	column-gap: 32px;
}

.cont-col-3-max {
}

.cont-col-4-max {
	-moz-column-count: 1;
	-moz-column-gap: 32px;
	-webkit-column-count: 1;
	-webkit-column-gap: 32px;
	column-count: 1;
	column-gap: 32px;
}

.font-color-1 {
	color: #3C1132;
}

.font-color-2 {
	color: #FFF;
}

.font-color-2 a {
	color: #FFF;
}

.font-color-3 {
	color: #DCD9BF;
}

.font-color-4 {
	color: #E82F0C;
}

.font-color-5 {
	color: #000;
}

.font-color-6 {
	color: rgb(134, 39, 25);
}

.font-fx-1 {
	text-shadow: 0 0 3px #000;
}

.font-fx-2 {
	border-bottom: medium solid #E82F0C;
	text-align: center;
	padding: 0px 0px 0.579em;
}

.font-fx-3 h2 {
	font-size: 1.3em;
}

.font-fx-4 {
	font-size:1.225em;
}

.font-fx-4 a {
	color: #d24e05;
}

.font-fx-5 {
	font-style: italic;
	font-weight: normal;
	font-size: 0.5em;
}

.font-size-sub1 {
	font-size: 0.833em;
}

.font-size-sub1-1 {
	font-size: 0.8em
}

.font-size-sub2 {
	font-size: 0.694em;
}

.font-size-sub3 {
	font-size: 0.579em;
}

.font-size-sub4 {
	font-size: 0.482em;
}

.font-size-sup1 {
	font-size: 1.2em;
}

.font-size-sup2 {
	font-size: 1.44em;
}

.font-size-sup3 {
	font-size: 1.728em;
}

.font-size-sup4 {
	font-size: 2.074em;
}

.height-prop {
	height: auto;
}

.img-fx-1 {
	width: 2.986em;
	border-radius: 50%;
	display: block;
	float: left;
	height: 2.986em;
	margin: 0 0.482em 0 0;
}

.img-fx-2 {
	width: 15em;
	height: 15em;
	border-radius: 50%;
	display: block;
	float: left;
	margin: 0 0.482em 0 0;
}

.img-fx-3 {
	width: 1.9em;
	height: 1.9em;
	border-radius: 50%;*
	display: block;
	float: left;
	margin: 0 0.482em 0 0;
}

.img-fx-4 {
	width: 1.3em;
	height: 1.3em;
	border-radius: 50%;
	display: block;
	float: left;
	margin: 0 0.2em 0 0;
}

.img-fx-5 {
	width: 1.2em;
	height: 1.2em;
	border-radius: 50%;*
	display: block;
	float: left;
	margin: 0 0.2em 0 0;
}

.img-fx-6 {
	position: relative;
	width: 10em;
	border-radius: 50%;
	float: right;
	display: block;
	height: 10em;
	margin: 0 0.482em 0 0;
	overflow: hidden;
}

.img-fx-6 img {
	position: absolute;
	left: 0;
	height:10em;
	width: auto;
	margin:auto;
}

.img-fx-7 {
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	display: inline-block;
}

.mrgn-1 {
}

.mrgn-2 {
}

.mrgn-3 {
}

.mrgn-4 {
}

.page-header-nav-item {
	float: left;
	display: inline;
	margin: 0.233em 1em 0 0;
	text-decoration: none;
	color: #fff;
}

.page-header-nav-item:link{
	color: #fff;
}

.page-header-nav-item:visited{
	color: #fff;
}

.page-header-nav-item:hover {
	color: #3C1132;
}

.pddng-ext {
	padding: 1.44em 1.44em;
}

.pddng-1 {
}

.pddng-2 {
}

.pddng-3 {
}

.pddng-4 {
}

.selected {
}

.site-width {
	width: 82.5%;
	margin-right: auto;
	margin-left: auto;
	max-width: 1024px;
}

.tag {
	font-style: italic;
	font-size: 0.833em;
	display: inline-block;
	background-color: #bebca7;
	/*padding: 0.279em 0.482em;*/
}

.tag {
	font-style: italic;
	font-size: 0.833em;
	display: inline-block;
	background-color: #bebca7;
	/*padding: 0.279em 0.482em;*/
}

.tag-home {
	font-style: italic;
	font-size: 1em;
	display: inline-block;
	background-color: #7f7f7f;
	padding: 0.1em 0.3em;
	margin: 0 0 .2em 0;
	/*padding: 0.279em 0.482em;*/
}

.tag-cuaderno {
	color: #000;
	text-transform: lowercase;
	font-style: italic;
	display: inline-block;
}
.tag-cuaderno ul {
	margin: 0;
    padding: 0;
    list-style: none;
}
.tag-cuaderno li {
	background-color: #bacbd5;
	padding: 0 0.3em;
	margin-right: 0.5em;
	display: inline-block;
    text-decoration: none;
}
.width-100 {
	width: 100%;
}

.height-100 {
	height:100%;
}

.roubo-slider {
	width: 100%;
	height: 400px;
	overflow: hidden;
	position: relative;
}

.roubo-slider p {
	font-size: 1.2em;
	position: absolute;
	bottom: 0;
	background-color: rgba(0, 0, 0 ,.55);
	padding: .8em;
}

.roubo-slider-img {
	width: 100%;
	height: 576px;
	overflow: hidden;
	position: relative;
}

.roubo-slider iframe {
	position: absolute;
	bottom: 0;
	width:1024px;
	height:576px;
}

.tool-list {
	border: 1px solid black;
	font-size: 0.8em;
}

.header-clase {
	width: 100%;
	height: 214px;
	overflow: hidden;
}

.header-cuaderno {
	position: relative;
	width: 100%;
	height: 314px;
	overflow: hidden;
}

.header-cuaderno img {
	position: absolute;
	bottom: 0;
}

.relacionadas-marcas {
	float: right;
	width: 30%;
	margin: 1em;
	padding: 1em;
	border: solid thin #3C1132;
}

.relacionadas-marcas h4 {
	color: #3C1132;
}

.relacionadas-marcas img .relacionadas-marcas a {
	color: #3C1132;
	margin: 0 0 0 1em;
}

#site-footer {
	bottom:0;
	margin-top=5em;
}

.like-me {
	margin: 0 0 2em 0;
}

/* PANTALLAS PEQUEÑAS: 768px hacia arriba */
@media (min-width: 768px) {
	
	body {
		font-size: 14px;
	}
	
	.cont-col-2-max {
		-moz-column-count: 2;
		-moz-column-gap: 32px;
		-webkit-column-count: 2;
		-webkit-column-gap: 32px;
		column-count: 2;
		column-gap: 32px;
	}
	
	.cont-col-2-max li, .cont-col-2-max p {
		-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
			  page-break-inside: avoid; /* Firefox */
				   break-inside: avoid; /* IE 10+ */
	}	
	
	.cont-col-4-max {
		-moz-column-count: 2;
		-moz-column-gap: 32px;
		-webkit-column-count: 2;
		-webkit-column-gap: 32px;
		column-count: 2;
		column-gap: 32px;
	}
	
	.cont-col-4-max li, .cont-col-4-max p {
		-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
		page-break-inside: avoid; /* Firefox */
		break-inside: avoid; /* IE 10+ */
	}
	
	#page-header.pddng-ext {
		padding:  2.488em 4.3em 0.482em 4.3em;
	}
	
	.pddng-ext {
		padding: 2.488em 4.3em;
	}
	
	#site-background {
		max-height: 360px;
	}
	
	#page-cont-fx {
		top: 164px;
	}	
}

/* PANTALLAS MEDIANAS: 992px hacia arriba */
@media (min-width: 992px) {
	
	body {
		font-size: 15px;
	}
	
	.cont-col-2-max {
		-moz-column-count: 2;
		-moz-column-gap: 32px;
		-webkit-column-count: 2;
		-webkit-column-gap: 32px;
		column-count: 2;
		column-gap: 32px;
	}
	
	.cont-col-2-max li, .cont-col-2-max p {
		-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
		page-break-inside: avoid; /* Firefox */
		break-inside: avoid; /* IE 10+ */
	}
	
	.cont-col-4-max {
		-moz-column-count: 3;
		-moz-column-gap: 32px;
		-webkit-column-count: 3;
		-webkit-column-gap: 32px;
		column-count: 3;
		column-gap: 32px;
	}
	
	#page-header.pddng-ext {
		padding:  2.488em 4.3em 0.482em 4.3em;
	}
	
	.pddng-ext {
		padding: 2.488em 4.3em;
	}
	
	#site-background {
		max-height: 360px;
	}
	
	#page-cont-fx {
		top: 178px;
	}
	
}

/* PANTALLAS GRANDES: 1200px hacia arriba */
@media (min-width: 1200px) {
	
	body {
		font-size: 16px;
	}
	
	.cont-col-2-max {
		-moz-column-count: 2;
		-moz-column-gap: 32px;
		-webkit-column-count: 2;
		-webkit-column-gap: 32px;
		column-count: 2;
		column-gap: 32px;
	}
	
	.cont-col-2-max li, .cont-col-2-max p {
		-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
			  page-break-inside: avoid; /* Firefox */
				   break-inside: avoid; /* IE 10+ */
	}
	
	.cont-col-4-max {
		-moz-column-count: 4;
		-moz-column-gap: 32px;
		-webkit-column-count: 4;
		-webkit-column-gap: 32px;
		column-count: 4;
		column-gap: 32px;
	}
	
	#page-header.pddng-ext {
		padding:  2.488em 4.3em 0.482em 4.3em;
	}
	
	.pddng-ext {
		padding: 2.488em 4.3em;
	}
	
	#site-background {
		max-height: 360px;
	}
	
	#page-cont-fx {
		top: 191px;
		left: calc((100% - 1024px) / 2)
	}
	
}

.pantallas_freddytoonicas {
	
}