<!DOCTYPE html>
    
{% load static %}
{% load staticfiles %}

<html lang="es-CO">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base_stylesheet.css/" %}">
    <title>{% block my_title %}5-8 Carpintería{% endblock my_title %}</title>
</head>
<body>
    <div id="header">
        <img src="{{ STATIC_URL }}logo.png" alt="Logo 5-8 Carpintería" width="150px" height="auto" />
    </div>
    <nav id="main_nav">
    {% block sidebar %}
        <ul>
            <li><a href="/cursos/">Cursos y proyectos</a></li>
            <li><a href="/studley/">Herramientas</a></li>
            <!--<li><a href="#">A la medida</a></li>
            <li><a href="#">Taller</a></li>
            <li><a href="#">Inscripciones</a></li>
            <li><a href="#">Discusión</a></li>
            <li><a href="#">Mi cuenta</a></li>-->
            <li><a href="/quees/">Qué es 5-8</a></li>
        </ul>
    {% endblock %}
    </nav>
    
    <div id="content">
        {% block content %}
            <h1>Error</h1>
            <p>Algo salió mal y esta página no está mostrando ningún contenido. No llegó nada al bloque "content" de la página base.</p>
        {% endblock %}
    </div>

</body>
</html>
