{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% block other_imports %}{% endblock other_imports %}

{% block other_meta_tags %}
<!--    #FACEBOOK LIKE/SHARE BUTTON CONFITURATION: https://developers.facebook.com/docs/plugins/like-button-->
    <meta property="og:url"           content="{{ request.build_absolute_uri |urlencode:":/" }}" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="Estudio 5-8" />
	<meta property="og:description"   content="El taller que empieza cuando el trabajo de 8-5 termina." />
	<meta property="og:image"         content="{% static "images/5-8-logo.png" %}" />
    
    <script src="https://apis.google.com/js/platform.js" async defer>
      {lang: 'es-419'}
    </script>
    
{% endblock other_meta_tags%}

{% block content_base %}
<br><br><br><br>
<div class = "bckgrnd-color-2">
  <div> <!--VIDEO DESTACADO-->
	<img src = "{% static ""%}{{ videos_destacados.0.recurso.imagen_destacada }}" width=256px, height=auto/ >
	<h2><a href="{{ videos_destacados.0.recurso.get_absolute_url }}">{{ videos_destacados.0.recurso.nombre }}</a></h2>
	<p>Ver más {{ videos_destacados.0.recurso.get_tipo_display |lower }}s</p>
  </div>
  
  <div> <!--BLOG DESTACADO-->
	<img src = "{% static ""%}{{ blogs_destacados.0.recurso.imagen_destacada }}" width=256px, height=auto/ >
	<h2><a href="{{ blogs_destacados.0.recurso.get_absolute_url }}">{{ blogs_destacados.0.recurso.nombre }}</a></h2>
	<p>Ver más {{ blogs_destacados.0.recurso.get_tipo_display |lower }}s</p>
  </div>
  
  <div> <!--HERRAMIENTA DESTACADA-->
	
  </div>
  
  <div> <!--PROYECTO DESTACADO-->
	<img src = "{% static ""%}{{ proyectos_destacados.0.recurso.imagen_destacada }}" width=256px, height=auto/ >
	<h2><a href="{{ proyectos_destacados.0.recurso.get_absolute_url }}">{{ proyectos_destacados.0.recurso.nombre }}</a></h2>
	<p>Ver más <a href="/roubo/PRY/">proyectos</a></p>
  </div>
</div>


<!--REDES SOCIALES-->
<br/>
<br/>
<br/>
<div class="like-me">
  <!--G+1 BUTTON-->
  <div class="g-plusone display-inline" data-size="medium" data-annotation="none"></div>
        
  <!--TWITTER-->
  <div><a href="https://twitter.com/share" class="twitter-share-button"{count} data-text="Conozca Estudio 5-8, el taller que empieza cuando el trabajo de 8-5 terrmina." data-lang="es" data-hashtags="carpintería, 5-8">Twittear</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></div>
        
  <!--FACEBOOK LIKE BUTTON-->
  <div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
	  fjs.parentNode.insertBefore(js, fjs);
	  }(document, 'script', 'facebook-jssdk'));
	</script>
	<div class="fb-like" data-href="{{ request.build_absolute_uri |urlencode:":/" }}" data-width="200" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
  <!--END FACEBOOK LIKE-->
</div>
	
{% endblock content_base %}

{% block footer %}
<div class="bckgrnd-color-8" id="site-footer">
{% endblock footer %}