{% extends "base_home.html" %}
{% load static %}
{% load staticfiles %}
{% block other_imports %}{% endblock other_imports %}

{% block other_meta_tags %}
<!--    #FACEBOOK LIKE/SHARE BUTTON CONFITURATION: https://developers.facebook.com/docs/plugins/like-button-->
    <meta property="og:url"           content="https://{{ request.META.HTTP_HOST }}" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="Estudio 5-8" />
	<meta property="og:description"   content="El taller que empieza cuando el trabajo de 8-5 termina." />
	<meta property="og:image"         content="http://{% static "images/5-8-logo.png" %}" />
    
    <script src="https://apis.google.com/js/platform.js" async defer>
      {lang: 'es-419'}
    </script>
    
{% endblock other_meta_tags%}

{% block content_base %}
    <div class="font-color-2 pddng-ext" id="content-home">
        
         <div class = "herramientas-home">
            <h2>Herramientas</h2>
            <ul>
                {% for herramienta in herramientas %}
                <li><a href="{{ herramienta.get_absolute_url }}"><img src="{{ MEDIA_URL }}{{ herramienta.imagen.imagen }}" class="img-fx-7" /> {{ herramienta.get_nombre_display }} <!--<small>{{ herramienta.descripcion |truncatechars:80 |striptags }}</small>--></a>
                </li>
                {% endfor %}
            </ul>
        </div>
        
        {% for destacado in destacados_roubo %}
        <div class="destacado-home">
            <a class="font-color-3" href="{{ destacado.recurso.get_absolute_url }}">
            <div class="img-fx-6"><img src="{{ MEDIA_URL }}{{ destacado.recurso.imagen_destacada }}" alt=""/></div>
            <h2>{{ destacado.recurso.nombre }}</h2>
            </a>
            <a href="roubo/{{ destacado.recurso.tipo }}" class="tag-home"><small>[{{ destacado.recurso.get_tipo_display }}]</small></a> 
            <p>{{ destacado.recurso.cuerpo |striptags |truncatechars:230 }}</p>
            <!--{% for tag in destacado.recurso.tags.all %}-->
            <!--    <ul class="tag-home">-->
            <!--        <li>{{ tag |lower }}</li>-->
            <!--    </uL>-->
            <!--{% endfor %}-->
        </div>
    {% endfor %}
          <br/>
          <br/>
          <br/>
          <div class="like-me">
             <!--G+1 BUTTON-->
        <div class="g-plusone display-inline" data-size="medium" data-annotation="none"></div>
        
             <!--FACEBOOK LIKE BUTTON-->
             <div id="fb-root"></div>
                 <script>(function(d, s, id) {
                   var js, fjs = d.getElementsByTagName(s)[0];
                   if (d.getElementById(id)) return;
                   js = d.createElement(s); js.id = id;
                   js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
                   fjs.parentNode.insertBefore(js, fjs);
                 }(document, 'script', 'facebook-jssdk'));
                 </script>
                 <div class="fb-like" data-href="https://{{ request.META.HTTP_HOST }}" data-width="200" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
             <!--END FACEBOOK LIKE-->
          </div>
    </div>
{% endblock content_base %}

{% block footer %}
<div class="bckgrnd-color-8" id="site-footer">
{% endblock footer %}