<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
<html lang="es-CO">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static "css/base_stylesheet.css/" %}">
    <title>5-8 Carpintería</title>
</head>
<body>
    <div id="header">
        <h1>{% block title %} 5-8 Carpintería {% endblock %}</h1>
    </div>
    <nav id="main_nav">
    {% block sidebar %}
        <ul>
            <li><a href="#">Cursos y proyectos</a></li>
            <li><a href="#">Herramientas</a></li>
            <li><a href="#">A la medida</a></li>
            <li><a href="#">Taller</a></li>
            <li><a href="#">Inscripciones</a></li>
            <li><a href="#">Discusión</a></li>
            <li><a href="#">Mi cuenta</a></li>
            <li><a href="#">Qué es 5-8</a></li>
        </ul>
    {% endblock %}
    </nav>
    
    <div id="content">
        {% block content %}
            <h1>Error</h1>
            <p>Algo salió mal y esta página no está mostrando ningún contenido.</p>
        {% endblock %}
    </div>

</body>
</html>
