{% extends "base.html" %}
{% load static %}
{% block other_imports %}
   <!--<script src='https://www.google.com/recaptcha/api.js'></script>
   -->
   {% load recaptcha2 %}
   {% recaptcha_explicit_support %}
{% endblock other_imports %}

{% block my_title %}Contacto Estudio 5-8{% endblock %}

{% block content_base %}
    <div class="font-color-2 font-fx-1 pddng-ext clearfix" id="page-header">
    <header>
        <h1 class="font-color-2"><a href="/">Envíenos un mensaje</a></h1>
    </header>
    </div>
    <div class="bckgrnd-color-3 pddng-ext" id="cont">
        
        <div id="page-title" class="bckgrnd-color-0 font-color-2 pddng-ext">

    {% if form.errors %}
        <h2>Su mensaje no se pudo enviar.</h2>
        {% for field, error in form.errors.items %}
            <h3>{{ error }}</h3>
            <br/>
            <p>Por favor <a href = "/contacto/">inténtelo de nuevo.</a></p>
        {% endfor %}
        
    {% else %}
        {% if datos and not form.errors%}
            <h2>Mensaje enviado</h2>
            <p>Responderemos pronto</p>
        </div>
            <div class="pddng-ext">
                <ul>
                    <li><b>Nombre:</b> {{ datos.autor }}</li>
                    <li><b>Correo electrónico de contacto:</b> {{ datos.email }}</li>
                    <li><b>Página web:</b> {{ datos.url }}</li>
                    <li><b>Mensaje:</b>
                    <i><p>{{ datos.texto }}</p></i>
                    </li>
                </ul>
            </div>
        {% else %}
        </div>
        <div id="page-cont" class="pddng-ext">
        <p class="font-fx-4"><i>Las instalaciones físicas de Estudio 5-8 están distribuidas en un grupo de talleres privados en Bogotá, donde trabajan amigos aficionados al oficio en sus ratos libres. Estamos preparándonos para abrir las puertas al público en una sede central en el segudo semestre de 2016, donde ofreceremos cursos, préstamo y venta de herramientas y acceso por horas, días o meses al taller.</p>
        <p class="font-fx-4">Nos puede contactar utilizando el formulario que encuentra a continuación o dejando comentarios en <a href="https://www.youtube.com/channel/UCR2wMFkT8EV9g5y3vJhC0xA">nuestro canal de Youtube</a>.</i></p>
        <hr/>
        <br/>
                        
            <form action="/contacto/" method="POST">
                {% csrf_token %}
                {{ form.id }}
                <p>{{ form.fecha.label_tag }}{{ form.fecha }}</p>
                <p>{{ form.autor.label_tag }}{{ form.autor }}</p>
                <p>{{ form.email.label_tag }}{{ form.email }}</p>
                <p>{{ form.url.label_tag }}{{ form.url }}</p>
                <p>{{ form.texto.label_tag }}</p>
                <p>{{ form.texto }}</p>
                <p>{{ form.acepto_tratamiento }} {{ form.acepto_tratamiento.label_tag }} </p>
                <p>{{ form.acepto_contacto }} {{ form.acepto_contacto.label_tag }}</p>
                <div>{{ form.captcha }}</div>
            <input type="submit" value="Enviar" />
            {% recaptcha_explicit_init 'es' %}
            </form>
        </div>
        {% endif %}
    {% endif %}
    
    <p><small>Nuestra política de tratamiento de datos personales es muy sencilla: no le daremos sus datos a nadie, nunca, excepto a una autoridad competente que nos lo exija con una orden judicial válida (lo cual consultaremos con abogados especialistas en tratamiento de datos). Usaremos su nombre y correo para responder a su mensaje si es necesario y si aceptó recibir información de 5-8, le enviaremos dicha información.</small></p>
    
    </div>
{% endblock content_base %}

{% block footer %}
   <div class="bckgrnd-color-0" id="site-footer">
{% endblock footer %}

{% block section_background %}
    <div id="site-background">
        <img src="{% static "images/background-3.jpg" %}" width="3872" height="2592" alt="Estudio 5-8">
    <div class="site-width" id="page-cont-fx"></div>
   </div>
{% endblock section_background %}