{% extends "maloof_base.html" %}
{% load static %}
{% block other_imports %} {% endblock other_imports %}

{% block my_title %}Registro{% endblock %}

{% block content_base %}

{% block content_maloof %}
            
    <div class="font-color-2 font-fx-1 pddng-ext clearfix" id="page-header">
    <header>
        <h1 class="font-color-2"></h1>
        <p></p>
    </header>
    </div>
         
    <div id="page-title" class="bckgrnd-color-6 font-color-2 pddng-ext">
        <h1>Sesión cerrada</h1>
    </div>
        <div>
    <img src="{% static "images/page-header-img-1.jpg" %}" width="1024" height="214" class="width-100">
    </div>
   
    <div id="page-cont" class="pddng-ext">
        
        <div class="bckgrnd-color-3 pddng-ext" id="cont">
        <p class = "font-fx-4">Su sesión en Estudio 5-8 se ha cerrado correctamente.<p>
        <p class = "font-fx-4"><a href="/cuentas/login/">Ingresar de nuevo</a></p>
        <p></p>
        </div>
    </div>
{% endblock content_maloof %}

{% endblock content_base %}

{% block footer %}
   <div class="bckgrnd-color-1" id="site-footer">
{% endblock footer %}

{% block section_background %}
    <div id="site-background">
        <img src="{% static "images/background-3.jpg" %}" width="3872" height="2592" alt="Estudio 5-8">
    <div class="site-width" id="page-cont-fx"></div>
   </div>
{% endblock section_background %}